@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


*{
    box-sizing: border-box;
}

body{
    font-family:"Inter", sans-serif;;
    
}

/* .rel{
    position: relative;
} */
.flex{
    display: flex;
}

.flexColuna{
    flex-direction: column;
}

.flexCentro{
    justify-content: center;
}
.flexBetween{
  justify-content: space-between;
}

.alignStart{
align-items: flex-start;
}

.alignCenter{
align-items: center;
}

.flexA{
    justify-content: space-around;
}